.tituloActualizar {
    color:black;
  }
  
  .containerActualizar {
   margin-top: 50px; 
  }
  
  .formActualizar input,
  .form textarea {
    width: 30%;
    display: block;
    text-align: center;
    border-color: green;
    border-radius: 8px;
  }