.tituloCrear {
  color: black;
}

.container {
 margin-top: 50px; 
}

.form input,
.form textarea {
  width: 30%;
  display: block;
  text-align: center;
  border-color: rgb(23, 0, 128);
  border-radius: 8px;
}

button {
  margin-top: 1%;
  border-radius: 15%;
  width: 10%;
  padding: 10px 10px;
  font-size: 15px;
}

button:hover {
  background-color:lightblue;
}
