body {
    margin: 0;
    padding: 0;
    background-image: url('./img/police1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.bienvenida {
  color: greenyellow;
}
  